<style>
  .color-1 {
    color: #B76EB8;
  }
  .color-2 {
    color: #053e57;
  }
  .color-3 {
    color: #B76EB8;
  }
  .large-text {
    font-size: 30px;
  }
  
  .hero-image {
    background-image: url("../media/jarno_mokki.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  table, th, td {
    border: 1px solid black;
  }
</style>